
<h1>Places</h1>

<% 
## Since they can't see post when not logged in
if session["user_id"] == nil 
  flash["notice"] = "You must be logged in to create or view places."
  return 
end %>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new">New place</a>
</p>