
<h1>Places</h1>


<div style="padding: 16px 0;">
  <a href="/places/new" class="btn btn-dark btn-lg px-4 py-2">New Place</a>
</div>


<p>
  <% for place in @places %>
    <p><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></p>
  <% end %>
</p>
